/* src/style.css */
body {
    background-color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
 
#sensorValue {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px;
    font-size: 24px;
}
 
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 2px rgb(49, 23, 23);
    font-size: 50px;
}
 
table {
    width: 90%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
 
th,
td {
   
    border: 1px solid #ddd;
    padding: 8px;
}
 
th:first-child, td:first-child {
    border-radius: 15px 0 0 15px;
}
th:last-child, td:last-child {
    border-radius: 0 15px 15px 0;
}
 
 
th {
    background-color: #f2f2f2;
}